1 ICON "f2mc-cli.ico"

1 VERSIONINFO
FILEVERSION 0,2,0,0
PRODUCTVERSION 0,2,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "080404b0"
        BEGIN
            VALUE "CompanyName", "F2MC Studio Project"
            VALUE "FileDescription", "F2MC-8FX Programmer CLI (OpenOCD-compatible)"
            VALUE "FileVersion", "0.2.0.0"
            VALUE "InternalName", "f2mc-programmer-cli"
            VALUE "LegalCopyright", "Copyright (c) 2026"
            VALUE "OriginalFilename", "f2mc-programmer-cli.exe"
            VALUE "ProductName", "F2MC Studio"
            VALUE "ProductVersion", "0.2.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END
